<h1>New expense in <%= @household.name %></h1>

<%= form_with model: [@household, @expense], multipart: true do |f| %>
  <% if @expense.errors.any? %>
    <div style="color: red;">
      <ul>
        <% @expense.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :total_amount, "Total amount ($)" %><br>
    <%= f.number_field :total_amount, step: 0.01 %>
  </div>

  <div>
    <%= f.label :store_name, "Store name (optional)" %><br>
    <%= f.text_field :store_name %>
  </div>

  <div>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :receipt_photo, "Receipt photo (optional)" %><br>
    <%= f.file_field :receipt_photo, accept: "image/*" %>
  </div>

  <div>
    <%= f.label :notes, "Notes (optional)" %><br>
    <%= f.text_area :notes, rows: 2 %>
  </div>

  <fieldset>
    <legend>Split evenly with (you're the payer, you cover your own share):</legend>
    <% @members.each do |member| %>
      <label>
        <%= check_box_tag "expense[debtor_ids][]", member.id %>
        <%= member.name %>
      </label><br>
    <% end %>
  </fieldset>

  <br>
  <%= f.submit "Save expense" %>
<% end %>

<p><%= link_to "Back to household", @household %></p>
