<h1 class="mb-4">Join a household</h1>

<div class="card">
  <div class="card-body">
    <%= form_with url: join_household_path, method: :post do |f| %>
      <div class="mb-3">
        <%= f.label :invite_code, "Invite code", class: "form-label" %>
        <%= f.text_field :invite_code, class: "form-control", placeholder: "e.g., APT4-X7K2" %>
      </div>
      <%= f.submit "Join", class: "btn btn-primary" %>
      <%= link_to "Cancel", root_path, class: "btn btn-link" %>
    <% end %>
  </div>
</div>
